@font-face {
  font-family: josefin;
  src: url("/JosefinSans.ttf");
}

:root {
  --primary-color: #fff;
  --secondary-color: #1a1919;
  --main-color: #78351a;
  --sub-color: #f3eeed;
}

::-webkit-scrollbar {
  height: 0;
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: var(--sub-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "josefin", sans-serif;
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
}
