@font-face {
  font-family: Poppins;
  src: url('/Poppins-Regular.ttf');
}

:root {
  --primary-color: #fff;
  --secondary-color: #1a1919;
  --main-color: #633B27;
  --background-color: #d9d9d9;
  --scroll-color: #3c3838;
  --sub-color: #aaa;
}

::-webkit-scrollbar {
  height: 0;
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: var(--main-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--sub-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
}