.bannerNav {
  margin-top: 1rem;
  background-color: transparent;

  .navbar {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .header {
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .menu {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        width: 2rem;
        height: 1.3rem;
        cursor: pointer;

        span {
          height: 0.2rem;
          background-color: var(--main-color);
          border-radius: 0.2rem;
        }

        .one {
          width: 100%;
        }
        .two {
          width: 75%;
        }
        .three {
          width: 50%;
        }
      }
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;

      li {
        a {
          display: block;
          padding: 0.2rem 0.5rem;
          margin-left: 0.5rem;
          border-radius: 0.5rem;
          font-weight: 500;
        }

        a:not(.active):hover {
          background-color: #ff550025;
        }

        .active {
          color: var(--main-color);
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
@media (max-width: 768px) {
  .bannerNav {
    .navbar {
      flex-direction: column;
      align-items: start;

      .header {
        width: 100%;
        .menu {
          display: flex;
        }
      }

      ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;

        li {
          width: 100%;
          text-align: center;

          a {
            padding: 0.3rem 0.5rem;
            margin: 0.2rem 0.5rem;
          }
        }
      }

      ul.open {
        display: flex;
      }
    }
  }
}
